#check-mark {
  height: 30px;
  background: image-url("primary_check.png");
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 5px;
  animation: fill .4s ease-in-out .4s forwards
}
