* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #5C5C5C
}

// .row {
//   max-width: 80%;
// }


.weight1 {
  font-weight: 100;
}

.weight3 {
  font-weight: 300;
}

.weight4 {
  font-weight: 400;
}

.weight5 {
  font-weight: 500;
}

.weight7 {
  font-weight: 700;
}

.weight9 {
  font-weight: 900;
}

.text1 {
  font-size: 3.5rem;
}

.text2 {
  font-size: 2rem;
}

.text3 {
  font-size: 1.5rem;
}

.text4 {
  font-size: 1.25rem;
}


#hero{
  height: 100vh;
  display:flex;
  min-width: 100%;
  background: image-url("home-hero-web.jpg");
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
}

// #hero-text-location {
//   display: block;
//   margin-top: 550px;
//   margin-left: 200px;
// }

#hero-description {
  letter-spacing: '2px';
  margin-top: 20px;
}

// #top-bar-button {
//   margin-right: 40px;
//   width: 12rem;
//   height: 2.7rem;
//   top: 1.1rem;
//   padding-top: 0.45rem;
//   font-size: 1.25rem;
// }

#top-bar-button {
  margin-right: 20px;
  width: 8rem;
  height: 1.7rem;
  line-height: 0;
}

#top-bar-button-outline {
  margin-right: 20px;
  width: 8rem;
  height: 1.7rem;
  line-height: 0;
  border-color: #11AAB7;
  border-style: solid;
  border-width: 1.5px;
  background-color: white;
  color: #11AAB7;
}
//
// #top-bar-button-outline {
//   margin-right: 40px;
//   width: 12rem;
//   height: 2.7rem;
//   top: 1.1rem;
//   padding-top: 0.40rem;
//   font-size: 1.25rem;
//   border-color: #11AAB7;
//   border-style: solid;
//   border-width: 1.5px;
//   background-color: white;
//   color: #11AAB7;
//   top: 1.2rem;
// }

#top-bar-button-outline:hover {
  background-color: #d3e9ff;
}

.shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
}

.logo {
  max-height: 40px;
  margin-left: 20px;
  margin-top: 0.5rem;
}

.top-bar, .top-bar ul {
  background-color: white;
}
