$line-color: #d1d1d1;

.button {
  font-weight: 400;
}

#hero{
  height: 94vh;
  display: flex;
  min-width: 100%;
  background: image-url("home-hero-web.jpg");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

#hero-text-location {
  display: block;
  margin-top: 250px;
  margin-left: 150px;
}

#hero-description {
  letter-spacing: '2px';
  margin-top: 5px;
}

#top-bar-button {
  margin-right: 20px;
  width: 8rem;
  height: 1.7rem;
  line-height: 0;
}

li #top-bar-button {
  margin-top: 6px;
}

#top-bar-button-outline {
  margin-right: 20px;
  width: 8rem;
  height: 1.7rem;
  line-height: 0;
  border-color: #11AAB7;
  border-style: solid;
  border-width: 1.4px;
  background-color: white;
  color: #11AAB7;
}

#top-bar-button-outline:hover {
  background-color: #d3e9ff;
}

.shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
}

.logo {
  max-height: 40px;
  margin-left: 20px;
  margin-top: 0.5rem;
}

.top-bar, .top-bar ul {
  background-color: white;
  padding: 0.25rem;
}

.blue-box {
  background-color: blue;
  color: white;
  font-weight: 500;
  padding: 20px;
}

button.radius, .button.radius {
    border-radius: 5px; }
  button.round, .button.round {
    border-radius: 1000px; }

.form {
  margin-top: 50px;
}

.delete {
  background-color: #c93830;
  margin-top: 10px;
}

.vertical-line {
  border-right: thin solid $line-color;
  padding-left: 40px;
  padding-right: 40px;
}

.horizontal-line {
  border-bottom: thin solid $line-color;
  padding-bottom: 20px;
}

.container-scroll {
  height: 580px;
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

#event-tile {
  padding: 25px 10px 25px 10px;
}

#dashboard-photo {
  height: 80px;
  border-radius: 1000px;
}
