$primary-color: #11AAB7;
$field-gray-color: #5C5C5C;

.primary {
  color: $primary-color;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $field-gray-color;
}

.weight1 {
  font-weight: 100;
}

.weight3 {
  font-weight: 300;
}

.weight4 {
  font-weight: 400;
}

.weight5 {
  font-weight: 500;
}

.weight7 {
  font-weight: 700;
}

.weight9 {
  font-weight: 900;
}

.text1 {
  font-size: 2.3rem;
}

.text2 {
  font-size: 1.5rem;
}

.text3 {
  font-size: 1.0rem;
}

.text4 {
  font-size: .85rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.align-center {

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;

}
